# Imports

In [1]:
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt
import random

# Load data

In [3]:
data_directory = 'data'
chosen_dataset = 'FD003'

df_train = pd.read_csv(os.path.join(data_directory, chosen_dataset + '_df_train.csv'), index_col=0) 
df_test = pd.read_csv(os.path.join(data_directory, chosen_dataset + '_df_test.csv'), index_col=0)

# Add the RUL

In the current dataset the RUL is not part of the column.

In the data descrition, it is mentionned that in the training data, the engine runs until failure.

Given the time in cycles, it is easy to retreive the RUL.

In [4]:
def add_rul(g):
    g['RUL'] = max(g['time_in_cycles']) - g['time_in_cycles']
    return g

df_train = df_train.groupby('engine_no').apply(add_rul)
df_test = df_test.groupby('engine_no').apply(add_rul)

In [5]:
df_test

,engine_no,time_in_cycles,op_setting_1,op_setting_2,op_setting_3,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,...,sensor_19,sensor_20,sensor_21,sensor_22,sensor_23,sensor_24,sensor_25,sensor_26,sensor_27,RUL
0,1,1,-0.0017,-0.0004,100.0,518.67,641.94,1581.93,1396.93,14.62,...,100.0,39.07,23.4468,NaN,NaN,NaN,NaN,NaN,NaN,232
1,1,2,0.0006,-0.0002,100.0,518.67,642.02,1584.86,1398.90,14.62,...,100.0,39.04,23.4807,NaN,NaN,NaN,NaN,NaN,NaN,231
2,1,3,0.0014,-0.0003,100.0,518.67,641.68,1581.78,1391.92,14.62,...,100.0,39.10,23.4244,NaN,NaN,NaN,NaN,NaN,NaN,230
3,1,4,0.0027,0.0001,100.0,518.67,642.20,1584.53,1395.34,14.62,...,100.0,38.97,23.4782,NaN,NaN,NaN,NaN,NaN,NaN,229
4,1,5,-0.0001,0.0001,100.0,518.67,642.46,1589.03,1395.86,14.62,...,100.0,39.09,23.3950,NaN,NaN,NaN,NaN,NaN,NaN,228
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16591,100,243,0.0011,-0.0003,100.0,518.67,643.04,1594.99,1411.28,14.62,...,100.0,39.40,23.4949,NaN,NaN,NaN,NaN,NaN,NaN,4
16592,100,244,-0.0024,0.0002,100.0,518.67,642.47,1591.27,1417.64,14.62,...,100.0,39.42,23.6011,NaN,NaN,NaN,NaN,NaN,NaN,3
16593,100,245,-0.0053,0.0002,100.0,518.67,642.70,1593.81,1412.70,14.62,...,100.0,39.43,23.5482,NaN,NaN,NaN,NaN,NaN,NaN,2
16594,100,246,-0.0006,0.0001,100.0,518.67,642.19,1595.63,1406.58,14.62,...,100.0,39.40,23.6687,NaN,NaN,NaN,NaN,NaN,NaN,1
16595,100,247,0.0023,0.0004,100.0,518.67,643.19,1592.54,1407.20,14.62,...,100.0,39.41,23.6536,NaN,NaN,NaN,NaN,NaN,NaN,0

Import pour le machine learning

In [6]:
import sklearn                       #machine learning functions

from sklearn.neural_network import MLPClassifier      # this function creates the neural network "Multi-Layer Perceptron Classifier"
from sklearn.neural_network import MLPRegressor       # Backpropagation
from sklearn.model_selection import train_test_split  # split train and test sets
from sklearn.metrics import mean_squared_error        # RMSE
from math import sqrt                                 # yes, python needs you load a package for sqrt
from sklearn.metrics import r2_score                  # Coefficient of determination

In [7]:


#Y :
target_column =['RUL']  #this is the outcome/dependent variable Y
#X :
selected_features = [ 'time_in_cycles', 'op_setting_1', 'op_setting_2',
       'sensor_2', 'sensor_3', 'sensor_4', 'sensor_7', 'sensor_8',
       'sensor_9', 'sensor_11', 'sensor_12', 'sensor_13',
       'sensor_14', 'sensor_15', 'sensor_17', 'sensor_20', 'sensor_21']

In [8]:
print([df_train])

[       engine_no  time_in_cycles  op_setting_1  op_setting_2  op_setting_3  \
0              1               1       -0.0005        0.0004         100.0
1              1               2        0.0008       -0.0003         100.0
2              1               3       -0.0014       -0.0002         100.0
3              1               4       -0.0020        0.0001         100.0
4              1               5        0.0016        0.0000         100.0
...          ...             ...           ...           ...           ...
24715        100             148       -0.0016       -0.0003         100.0
24716        100             149        0.0034       -0.0003         100.0
24717        100             150       -0.0016        0.0004         100.0
24718        100             151       -0.0023        0.0004         100.0
24719        100             152        0.0000        0.0003         100.0

       sensor_1  sensor_2  sensor_3  sensor_4  sensor_5  ...  sensor_19  \
0        518.67    642.36   1583.23   1396.84     14.62  ...      100.0
1        518.67    642.50   1584.69   1396.89     14.62  ...      100.0
2        518.67    642.18   1582.35   1405.61     14.62  ...      100.0
3        518.67    642.92   1585.61   1392.27     14.62  ...      100.0
4        518.67    641.68   1588.63   1397.65     14.62  ...      100.0
...         ...       ...       ...       ...       ...  ...        ...
24715    518.67    643.78   1596.01   1424.11     14.62  ...      100.0
24716    518.67    643.29   1596.38   1429.14     14.62  ...      100.0
24717    518.67    643.84   1604.53   1431.41     14.62  ...      100.0
24718    518.67    643.94   1597.56   1426.57     14.62  ...      100.0
24719    518.67    643.64   1599.04   1436.06     14.62  ...      100.0

       sensor_20  sensor_21  sensor_22  sensor_23  sensor_24  sensor_25  \
0          39.11    23.3537        NaN        NaN        NaN        NaN
1          38.99    23.4491        NaN        NaN        NaN        NaN
2          38.85    23.3669        NaN        NaN        NaN        NaN
3          38.96    23.2951        NaN        NaN        NaN        NaN
4          39.14    23.4583        NaN        NaN        NaN        NaN
...          ...        ...        ...        ...        ...        ...
24715      38.44    22.9631        NaN        NaN        NaN        NaN
24716      38.50    22.9746        NaN        NaN        NaN        NaN
24717      38.39    23.0682        NaN        NaN        NaN        NaN
24718      38.31    23.0753        NaN        NaN        NaN        NaN
24719      38.56    23.0847        NaN        NaN        NaN        NaN

       sensor_26  sensor_27  RUL
0            NaN        NaN  258
1            NaN        NaN  257
2            NaN        NaN  256
3            NaN        NaN  255
4            NaN        NaN  254
...          ...        ...  ...
24715        NaN        NaN    4
24716        NaN        NaN    3
24717        NaN        NaN    2
24718        NaN        NaN    1
24719        NaN        NaN    0

[24720 rows x 33 columns]]

Creating the training and test datasets.

In [9]:
x_train = df_train[selected_features].values.astype('int')    # df to numpy.ndarray (tableau)
y_train = df_train[target_column].values.astype('int')

x_test = df_test[selected_features].values.astype('int')
y_test = df_test[target_column].values.astype('int')

print(x_train.shape)
print(y_train)

(24720, 17)
[[258]
 [257]
 [256]
 ...
 [  2]
 [  1]
 [  0]]

TEST

In [10]:
mlp = MLPClassifier(hidden_layer_sizes=(17,17,17), activation='relu', solver='adam')

mlp.fit(x_train,y_train.ravel())

predict_train = mlp.predict(x_train)
predict_test = mlp.predict(x_test)

In [11]:
df_resultat=df_train.assign(RUL_predict=predict_train)
df_resultat_test=df_test.assign(RUL_predict=predict_test)
#print (df_resultat)

In [12]:
test=['engine_no' , 'RUL_predict', 'RUL']
df_final=df_resultat[test]
df_final = df_final.groupby('engine_no').agg({'RUL_predict': 'first'}).reset_index()
print(df_final)
df_final_test = df_resultat_test[test]
df_final_test = df_final_test.groupby('engine_no').agg({'RUL_predict': 'first'}).reset_index()
print(df_final_test)
#df_final.columns = ['engine_no', 'RUL']
#df_final[['engine_no','RUL']].to_csv('submission.csv', index=False)
#df_final

    engine_no  RUL_predict
0           1          163
1           2          163
2           3          163
3           4          163
4           5          163
..        ...          ...
95         96          163
96         97          163
97         98          163
98         99          163
99        100          163

[100 rows x 2 columns]
    engine_no  RUL_predict
0           1          163
1           2          163
2           3          163
3           4          163
4           5          163
..        ...          ...
95         96          163
96         97          163
97         98          163
98         99          163
99        100          163

[100 rows x 2 columns]

In [13]:
df_test_resultat = df_final
df_test_resultat ['RUL'] = df_resultat['RUL']
df_test_resultat ['difference'] = df_test_resultat ['RUL']- df_test_resultat['RUL_predict']
df_test_resultat_test = df_final_test
df_test_resultat_test ['RUL'] = df_resultat_test['RUL']
df_test_resultat_test ['difference'] = df_test_resultat_test ['RUL']- df_test_resultat_test['RUL_predict']
print(df_test_resultat_test)
print(df_test_resultat.describe())
print(df_test_resultat_test.describe())

    engine_no  RUL_predict  RUL  difference
0           1          163  232          69
1           2          163  231          68
2           3          163  230          67
3           4          163  229          66
4           5          163  228          65
..        ...          ...  ...         ...
95         96          163  137         -26
96         97          163  136         -27
97         98          163  135         -28
98         99          163  134         -29
99        100          163  133         -30

[100 rows x 4 columns]
        engine_no  RUL_predict         RUL  difference
count  100.000000        100.0  100.000000  100.000000
mean    50.500000        163.0  208.500000   45.500000
std     29.011492          0.0   29.011492   29.011492
min      1.000000        163.0  159.000000   -4.000000
25%     25.750000        163.0  183.750000   20.750000
50%     50.500000        163.0  208.500000   45.500000
75%     75.250000        163.0  233.250000   70.250000
max    100.000000        163.0  258.000000   95.000000
        engine_no  RUL_predict         RUL  difference
count  100.000000        100.0  100.000000  100.000000
mean    50.500000        163.0  182.500000   19.500000
std     29.011492          0.0   29.011492   29.011492
min      1.000000        163.0  133.000000  -30.000000
25%     25.750000        163.0  157.750000   -5.250000
50%     50.500000        163.0  182.500000   19.500000
75%     75.250000        163.0  207.250000   44.250000
max    100.000000        163.0  232.000000   69.000000

In [15]:
df_final_test.columns = ['engine_no', 'RUL']
df_final_test[['engine_no','RUL']].to_csv('submission.csv', index=False)
df_final_test

ValueError: Length mismatch: Expected axis has 4 elements, new values have 2 elements

# You work for the next lesson:

By groups of 3 :
- Try to have the best model on FD003
- Prepare a quick presentation (5 min) explaining your data analysis and you model.
- Explain how you would answer to the following issue :
«I need to predict failure on my engine. Considering that each engine does 8 cycles a day on average. If my engine fails, it costs 4m to repair, and 500k of operational impact. If I repair the engine before failure it costs me 1m and depending on removal planning, costs are different. If I plan my maintenance within 5 days it costs me 400k of operational impact. From 5 to 10 days 200k, and above 10 days 100k. Also I know that if I remove an engine before it fails I lose some potential (~3,5k / cycle);»